*{
margin: 0;
padding: 0;
}

#menu {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #242423;
}

#style-nav {
    font-family: 'Courier New', Courier, monospace;
}

.menu-nav {
    text-align: center;
    line-height: 50px;

}

.menu-nav li {
    display: inline-block;
    padding-left: 2rem;
}

a.nav-acess {
    text-decoration: none;
    color: white;
}


.banner{
background-image: url(/img/banner.jpg);
height: auto;
background-size: cover;
padding: 300px 0 700px 0;

}
.banner h2{
font-family: 'Josefin Sans','Joan';
font-size: 3.2rem;
font-weight: 200;
color: white;
margin-left: 50%;
margin-top: 3%;
}


.cardapio{
width: 200px;
}